@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
body{
    background-image: radial-gradient(circle, #1c7fc2 0%, #009cdc 28%, #0d9ade 32%, #011844 100%)
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
    font-family: 'Otomanopee One', sans-serif;
}
h2{
  font-size: 2rem;
}
form{
  display:grid;
  grid-template-columns:72% 25%;
  grid-gap:3%;
}
.container{
  width: 50%;;
  /* background-color: #77ACF1; */
  margin: 5rem auto;
  padding: 2rem;
  border-radius: 10px;
  color:#F0EBCC;

}
input, .btn{
  padding: .5rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid white;
}
.btn{
  padding: .5rem 1rem;
  background-color: white;
  color:#011844 ;
  border:2px solid;
  cursor: pointer;
  transition:.3s;
}
.btn:hover{
  transform: translateY(-3px);
  background-color:#0d9ade ;
  color:#fff ;
}
.weather{
  margin-top:3rem;
  display:flex;
  justify-content: space-between;
  align-items:center;
  height:200px;
  font-size: 2rem;
}
.left{
  width:100%;
  /* background-color:#343A40 ; */
  font-size: 3rem;
  padding:.5rem;
  text-align:center;
  border-radius:10px 0 0 10px;
  height:220px;
  line-height:3;
}
.right{
  border-radius:10px ;
  text-align:center;
  height:220px;
  width:100%;
/*   margin-left:.5rem; */
    line-height:2.5;

}
.icon{
/* background:#E1E8EB; */
height:85px;
  padding: .5rem;
  border-radius:0 10px 0 0;
}
.condition{
  height:135px;
      /* background:#04009A ; */
  padding: .5rem;
   border-radius:0 0 10px;
  color:#F0EBCC;
}
@media only screen and (max-width: 1000px) {
  .container{
   width:80%; 
  } 
}
@media only screen and (max-width: 700px) {
  .weather {
    flex-direction:column;
    height:auto;
  }
  .container{
    text-align:center;
    width:90%;
    height:90%;
  }
  .right{
    margin-top:.5rem;
    margin-left:0;
  }
  form{
    grid-template-columns:100%;

  }


}